<div class="d-flex justify-content-end mt-5 mb-3">
    <div class="card mb-3 m-5" style="width: fit-content;">
        <div class="row g-0">
            <div class="col-md-8">
                <div class="card-body">
                    <h4 class="card-title mb-3">Services We offer</h4>
                    <p class="card-text fw-lighter">Travel takes pride in giving the customers a choice of their
                        specific
                        accommodation needs, no matter where – regionally, nationally, and internationally. Certain
                        corporate discounts are available, with preferred accommodation establishments (with bill back
                        facilities)..</p>
                    <p class="card-text fw-lighter">Travel has a department which offers professional and timeous visa
                        services. The department also advises clients regarding visa requirements and/or any other
                        information relevant to a specific destination.</p>
                    <p class="card-text fw-lighter">Travel provides a 24 hour, 7 day a week emergency service to
                        all customers.</p>
                    <p class="card-text"><small class="text-muted">Travel</small></p>
                </div>
            </div>
            <div class="col-md-4">
                <img src="../../assets/images/blog.jpeg" class="img-fluid rounded-start w-100" alt="...">
            </div>

        </div>
    </div>
</div>