<div class="container-fluid mt-5 mb-5">
    <h2>Top 10 things to see and do in Alentejo, Portugal</h2>
    <hr>
    <p class="fw-lighter">
        In the heart of southern Portugal’s Atlantic coast, Alentejo is revered for its untouched beaches, cork oak
        fields
        and countryside vineyards.
    </p>
    written by John Doe Oct 15, 2021
    <br>
    <br>
    In the heart of southern Portugal’s Atlantic coast, Alentejo is revered for its untouched beaches, cork oak fields
    and countryside vineyards.

    As they amble through medieval cobbled streets, visitors often stop to admire the sun-baked olive groves and
    unhurried hustle of the locals. The region’s acclaimed red wine flows (metaphorically) in through Praça do Giraldo
    just as it has done for the last 50 years.

    Far from the metropolitan glamour of Lisbon and Porto, in this pristine rural region, a cultural revolution is
    underway. The capital of Evora has recently benefited from an influx of charming hotels and holiday apartments, with
    contemporary eateries and restaurants helping bring traditional Portuguese charm to its travellers.

    Alongside the UNESCO heritage sites and ancient ruins, you will now find open-air markets in Rossio, innovative
    seaside bistros and even 15th-century monasteries that have been fastidiously converted into hotels.


</div>

<div class="container-fluid mt-5 mb-5">
    <h2>Tampere, Finland – World Sauna Capital</h2>
    <hr>
    <p class="fw-lighter">
        Tampere, Finland's third largest city, boasts more than 50 public saunas, a long history and lovely lakes
        written by John Doe 7, 2021
    </p>
    <br>
    <br>

    Around 100 miles north of Helsinki, Tampere is the third-largest city in Finland. The region boasts more than 50
    public saunas and the countryside around is known as Finnish Lakeland.
    <br>
    It’s a city built on water, situated on the Tammerkoski rapids, between two large lakes, with the green banks
    providing a counterpoint to red brick industrial buildings. It was the birthplace of the Finnish industrial
    revolution when, in 1820, Scottish engineer James Finlayson built a factory to manufacture heavy machinery.


</div>
<div class="container-fluid mb-5 mt-5    ">
    <h2>10 of the best places to see Britain’s Autumn colours</h2>
    <hr>
    <p class="fw-lighter">
        written by John Doe Sep 30, 2021
        <br>
        Lake in Faskally Wood, Scotland
        Summer may be losing its bloom and as it does so Autumn brings it’s own natural palette to Britain’s forests,
        arboretums, parks and gardens.
    </p>

    <p>
        2020 is the year of the staycation, and from late September and throughout October it’s all about leaves turning
        from greens into fiery reds, golden yellows and rich burgundies.
        <br>
        <br>
        Here are ten places to relax and enjoy:
        <br>
        <br>
        Be inspired by Britain’s autumnal beauty at its best
        There are so many beautiful and interesting places to explore across the UK, from Dartmoor to the Lake District.
        There’s no need to hop on a plane when so much beauty surrounds us. If you looking for some inspiration, a great
        place to start is DK Eyewitness’ travel guide to Great Britain. The recently updated guide is packed with great
        ideas and stunning images to get you excited about a UK staycation.
        <br>
        <br>
        You’ll discover:
        <br>
        <br>
        DK’s pick of Great Britain’s must-sees, top experiences and hidden gems, along with the best spots to eat,
        drink,
        shop and stay.
        Detailed maps and walks which make navigating the island easy
        Easy-to-follow itineraries
        Expert advice: get ready, get around and stay safe
        Colour-coded chapters to every part of Great Britain, from London to Edinburgh, the Cotswolds to Cornwall
    </p>
</div>